#wish{
    border-color: lightgreen;
    font-size: 80%!important;
    padding-left:1%!important;
    padding-right:1%!important;
    color: black!important;
    border-color: black;
    border: solid;
    opacity: 0.6;
    width: 135px!important;
    height: 20px!important;
    padding-top:2px!important;
}
#wish1{
    border-color: lightgreen;
    font-size: 80%!important;
    padding-left:1%!important;
    padding-right:1%!important;
    color: black!important;
    border-color: black;
    border: solid;
    opacity: 0.6;
    width: 135px!important;
    height: 35px!important;
    padding-top:2px!important;
}
#tasted{
    opacity: 0.6;
    border-color: black;
    border: solid;
    font-size: 100%!important;
    padding-left:1%!important;
    padding-right:1%!important;
    color: black!important;
    width: 120px!important;
}
#tasted:hover{
    background-color: #87d9f3;
    border-color: #bcf0f3;
    color: white!important;
    opacity: 1;
}
#wish:hover{
    background-color: lightgreen;
    border-color: lightgreen;
    color: white!important;
    opacity: 1;
}
#wish1:hover{
    background-color: lightgreen;
    border-color: lightgreen;
    color: white!important;
    opacity: 1;
}
#photos {

    -webkit-column-count: 3;
    -webkit-column-gap:   0px;
    -moz-column-count:    3;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           0px;
}
.thumbnail{
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin:0!important;
    padding-left: 2%!important;
    padding-top: 2%!important;
}
.profileSection{
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.is-table-row {
    display: table;
    padding-top: 0!important;
}
.is-table-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
}
#ii{
    padding-left: 5%!important;
    padding-right:0!important;
}
#iii{
    padding-left: 0!important;
    padding-top: 0!important;
    margin-top: 0!important;
}
#iiii{
    margin-top: 5%!important;
}
#bigImg{
    padding-left: 0!important;
    padding-top: 0!important;
    margin-top: 0!important;
    max-height: 90%!important;
    max-width: 95%!important;

}
#photos1 {

    -webkit-column-count: 3;
    -webkit-column-gap:   0px;
    -moz-column-count:    3;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           0px;
}
#photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}
#photos1 img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}
.thumbnail1{
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin:0!important;
}